@font-face {
    font-family: 'Apercu ';
    src: local('Apercu  Bold'), local('Apercu--Bold'),
        url('ApercuPro-Bold.woff2') format('woff2'),
        url('ApercuPro-Bold.woff') format('woff'),
        url('ApercuPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }