@font-face {
    font-family: 'Apercu ';
    src: local('Apercu  Regular'), local('Apercu--Regular'),
        url('ApercuPro.woff2') format('woff2'),
        url('ApercuPro.woff') format('woff'),
        url('ApercuPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }