@font-face {
    font-family: 'History';
    src: url('HistoryPro-Two.eot');
    src: local('History Pro 02'), local('HistoryPro-Two'),
        url('HistoryPro-Two.eot?#iefix') format('embedded-opentype'),
        url('HistoryPro-Two.woff2') format('woff2'),
        url('HistoryPro-Two.woff') format('woff'),
        url('HistoryPro-Two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

